<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Guitar Tab Application</title>
  <link rel="stylesheet" href="main.css" media="screen" title="no title">
</head>
<body>
  <h1>Welcome,{USER}! Here is your tab of the day:</h1>
  <div class="tab-container">
    <div class="tab-header">
    <div class="picture">
      <img src="<%= artist.results[0].artworkUrl100%>"></img>
    </div>
    <div class="title">
      <h2><%= artist.results[0].artistName %></h2>
      <h3><%= artist.results[0].trackName %></h3>
    </div>
  </div>
    <div class="content">
      <% tab[32].id %>
      <% tab[32].title %>
      <h3>Tab Types: <%= tab[32].tabTypes %></h3>
      <div class="lyrics">
        <p><%= lyrics[0].snippet %></p>
      </div>
    </div>
  </div>
  <div class="right-column">
    <div class="player">
      <div class="button-section">
      <input type="submit" value="SAVE SONG TO FAVORITES"></input>
      <input type="submit" value="FIND A NEW SONG"></input>
    </div>
  </div>
</body>
</html>
