<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Guitar Tab Application</title>
  <link rel="stylesheet" href="./../main.css" media="screen" title="no title">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>
  <div class="nav">
    <a class="redirect" href="/users/profile">Home</a>
    <a class="redirect" href="/search">Search</a>
  </div>
  <h1>Here is your tab:</h1>
  <div class="tab-container">
    <div class="tab-header">
    <div class="picture">
      <img src="<%= artist.results[0].artworkUrl100%>"></img>
    </div>
    <div class="title">
      <h2><%= artist.results[0].artistName %></h2>
      <h3><%= artist.results[0].trackName %></h3>
    </div>
  </div>
    <div class="content">
      <% tab[0].id %>
      <h3>Tabs Present/Tab Types:<br> <%= tab[0].tabTypes %></h3>
      <h3>Chords Present: <%= tab[0].chordsPresent %></h3>
      <!-- <div class="lyric">
        <p><%# lyric[0].snippet %></p> -->
      <form class="save-favorites" action="/favorites" method="post">
        <input type="hidden" name="favorites[artwork]" value="<% artist.results[0].artworkUrl100%>">
        <input type="hidden" name="favorites[artistName]" value="<%= artist.results[0].artistName %>">
        <input type="hidden" name="favorites[trackName]" value="<%= artist.results[0].trackName %>">
        <input type="hidden" name="favorites[tabTypes]" value="<% tab[0].tabTypes %>">
        <input id="add-favorite" type="submit" value="Add To Your Favorites">
      </form>
      <a target="_blank" class="link" href="http://www.songsterr.com/a/wa/bestMatchForQueryString?s=<%= artist.results[0].trackName %>&a=<%= artist.results[0].artistName %>">Give Me the Tab</a>
      <a target="_blank" class="link" href="https://www.youtube.com/results?search_query=<%= artist.results[0].trackName %>_<%= artist.results[0].artistName %>">Watch on YouTube</a>
      </div>
    </div>
  <div class="right-column">
    <div class="favorites">
      <h2><%# favorites.length %>Your Favorites</h2>
        <div class="results">
        <ul>
          <%# Saved movies will be displayed here%>
          <% for (let i = 0; i < favorites.length; i++) { %>
          <li>
            <img src="<%= favorites[i].artwork %>" alt="" />
            <h4><%= favorites[i].artistName %></h4>
            <h3><%= favorites[i].trackName %></h3>
            <form class="delete-favorites" action="/favorites/<%= favorites[i]._id %>?_method=DELETE" method="post">
              <input type="hidden" name="favorites[artwork]" value="<% artist.results[0].artworkUrl100%>">
              <input type="hidden" name="favorites[artistName]" value="<%= artist.results[0].artistName %>">
              <input type="hidden" name="favorites[trackName]" value="<%= artist.results[0].trackName %>">
              <input type="hidden" name="favorites[tabTypes]" value="<% tab[0].tabTypes %>">
              <input class="delete" type="submit" value="Delete">
            </form>
          </li>
          <% }; %>
        </ul>
      </div>
  </div>
</body>
</html>
